<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a to="/" class="navbar-brand">
      LOGO
      <!-- <img src={EplLogo('./premier-league-logo-header.png')}  alt="EPL Betting" height="50" /> -->
    </a>

    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/standings/premier-league" [routerLinkActive]=[this.activeClass]>EPL Standings</a>
      <a class="nav-link" routerLink="/standings/betting" [routerLinkActive]=[this.activeClass]>Bet Standings</a>
      <a class="nav-link" routerLink="/bet" [routerLinkActive]=[this.activeClass]>Place Bets</a>
      <a class="nav-link" routerLink="/admin/setup-round" [routerLinkActive]=[this.activeClass]>Setup Round</a>
      <a class="nav-link" routerLink="/admin/complete-round" [routerLinkActive]=[this.activeClass]>Complete Round</a>
    </ul>    

    <ul class="navbar-nav ml-auto">
       <ng-container *ngIf="(isLoggedIn$ | async) as boolean">  
        <span class="header-greeting">Hello, username!</span>
        <a class="nav-link" routerLink="/logout">Logout</a>
      </ng-container>
      <ng-container *ngIf="!(isLoggedIn$ | async) as boolean">
        <a class="nav-link" routerLink="/login" [routerLinkActive]=[this.activeClass]>Login</a>
        <a class="nav-link" routerLink="/register" [routerLinkActive]=[this.activeClass]>Register</a>
      </ng-container>
    </ul>

    <!-- <ng-container *ngIf="(!isLoggedIn$ | async)">
      <h1>TEST</h1>>
    </ng-container> -->
  </nav>
</header>

{{isLoggedIn$ | async}}