.active {
    border: #fdb813 2px solid;
    border-radius: 5px; 
  }
  
  .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fdb813;
  }
  
  .header-greeting {
    color: rgba(255,255,255,.5);
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    display: block;
    float: right;
  }